server:
  address: 0.0.0.0
  port: 8081
  ssl:
    enabled: false

spring:
  datasource:
    url: jdbc:mysql://db:3306/zoo_fantastico
    username: zoo
    password: zoo
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: validate
      show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true
    open-in-view: false
  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true
  h2:
    console:
      enabled: false

# Si quieres ver SQL detallado, descomenta temporalmente:
# logging:
#   level:
#     org.hibernate.SQL: DEBUG
#     org.hibernate.type.descriptor.sql.BasicBinder: TRACE
